<% include header %>
	<script src="/javascripts/gameOnlineMaster.js"></script>
	<div id="canvasDiv">
		<canvas id="canvasSpielfeld" width="600" height="600">
			Error
		</canvas>
	</div>
	<input type="button" id="wuerfel" value="Würfeln Spieler 1"/> 
	<input type="button" id="wuerfel2" value="Würfeln Spieler 2"/> 
	<div id="choose1Box" style="display:none;">
		<input type="button" id="choose1" value="Figur 1 ziehen"/>	
	</div>
	<div id="choose2Box" style="display:none;">
		<input type="button" id="choose2" value="Figur 2 ziehen"/>	
	</div>
	<div id="choose3Box" style="display:none;">
		<input type="button" id="choose3" value="Figur 3 ziehen"/>	
	</div>
	<div id="choose4Box" style="display:none;">
		<input type="button" id="choose4" value="Figur 4 ziehen"/>	
	</div>
	<div class="testFeld">.</div>
	<div class="eventlogTable">
		<table>
			<tr>
				<td>
					Spieler
				</td>
				<td>
					Aktion
				</td>
				<td>
					Zeit
				</td>
			</tr>
		</table>
	</div>
<%include footer %>