<% include header %>
	<script src="/javascripts/gamePartyMaster.js"></script>
	<div id="canvasDiv">
		<canvas id="canvasSpielfeld" width="600" height="600">
			Error
		</canvas>
	</div>
	<input type="button" id="wuerfel" value="Würfeln Spieler 1"/> 
	<input type="button" id="wuerfel2" value="Würfeln Spieler 2"/> 
	<div class="testFeld">.</div>
	<div class="eventlogTable">
		<table>
			<tr>
				<td>
					Spieler
				</td>
				<td>
					Aktion
				</td>
				<td>
					Zeit
				</td>
			</tr>
		</table>
	</div>
<%include footer %>