<!DOCTYPE html>
<html>
	<head>
		<title>Mensch ärger dich nicht</title>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<script src="/javascripts/jquery.js"> </script>
		<script src="/javascripts/socket.io.js"></script>
	</head>
	<body class="center">
		<header id="banner">
			<h1>Mensch ärger dich nicht</h1>
			<nav> 
				<ul>
					<li <% if(title == "Home") {%> class="active" <%}%> ><a href="/">Home</a></li>
					<li <% if(title == "Online Game") {%> class="active" <%}%> ><a href="/gameOnline">Online Spiel</a></li>
					<li <% if(title == "Party Game") {%> class="active" <%}%> ><a href="/gameParty">Party Spiel</a></li>
				</ul>
			</nav>
			
		</header>
		<section id="content">